<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestManagerTestNG">
    <test name="test Reports">
        <groups>
            <run>
                <include name="smoke"/>
                <exclude name="Stress"/>

            </run>
        </groups>
        <classes>
            <class name='SampleTestNG'/>

        </classes>

    </test>
</suite>
